body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.homepage-bgimage {
  height: 100vh;
  width: 100wh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  background: white;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  padding: 2vh 2vw;
}
.col {
  flex-direction: column;
  margin: 1vh 1vw;
}

.title {
  font-size: 7vh;
  color: #006064;
}

.time-Input {
  font-size: 3vh;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

.circle {
  background-color: white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  outline: none;
  border-color: transparent;
}
